@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@300;500;700;900&family=Paprika&family=Poppins:wght@300;400;500;700;900&display=swap');

:root{
    /*bg colors*/
    --pink: #FC0B56;
    --black: #1B1A1A;
    --purple: #8948EE;
    --white: #FFFFFF;
    --gray: #272727;
    --bg-gray: #252627;
    --lightgray: #b6b5b5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
html {
    scroll-behavior: smooth;
  }
body{
    background: #f7bcce;
    color: #f7bcce;
}
header {
    background: var(--pink);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    padding: 0 80px 0 80px;
    color: var(--white);
}
a{
    color: var(--white);
    font-size: 20px;
}
a:hover{
    color: #bd0b5e;
    font-weight: 500;
}
span{
    color: var(--white);
    font-weight: 700;
}
.escondido{
    display: none;
}
.logo{
    cursor: pointer;
}
.logo img{
    width: 280px;
    height: 85px;
}
.menu-label{
    cursor: pointer;
    display: none;
}
#menu-toggle{
    display: none;
  }
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    width: 500px;
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 10px;
}
.navbar-list span{
    font-size: 18px;
}
.cart_icon{ 
    margin-left: 6rem;
    cursor: pointer;
    position: relative;
}
.cart_icon i{
    width: 150px;
}
#cuenta-cart{
    background-color: #bd0b5e;
    border-radius: 100%;
    display: inline-block;
    width: 27px;
    line-height: 27px;
    aspect-ratio: 1;
    text-align: center;
    position: absolute;
}
main{
    background: #f7bcce;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--black);
}
#hero{
    position: relative;
    width: 100%;
    height: calc(75vh - 80px);
    margin-bottom: 3rem;
    background-color: var(--lightgray);
    background-size: cover;
    background-position: center;
    transition: all .1s ease-in-out;
    transition: opacity .5s;
    background-image: url(./assets/slider/10.jpg);
    animation: hero 28s infinite linear;
}
.hero-info{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: var(--black);
    background-color: rgba(250, 170, 200, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.hero-info h1{
    margin: 0;
    padding: 0;
    font-size: 80px;
    color: var(--pink);
    text-shadow: 15px 10px 15px #FFFFFF;
    margin: 6rem 0 5rem 0;
}
.info-btn{
    width: 300px;
    height: 45px;
    background: var(--pink);
    border-radius: 10px;
    border-style: none;
    color: var(--white);
    font-size: 21px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.4s ease-out;  
}
button:hover{
    background: var(--white);
    transition: all 0.4s ease-in;
    color: var(--pink) !important;
    font-weight: 900;
}
@keyframes hero{
    0%{
        background-image: url(./assets/slider/10.jpg);
    }
    20%{
        background-image: url(./assets/slider/10.jpg);
    }

    21%{
        background-image: url(./assets/slider/oreo.jpg);
    }
    40%{
        background-image: url(./assets/slider/oreo.jpg);
    }

    41%{
        background-image: url(./assets/slider/9.jpg);
    }
    60%{
        background-image: url(./assets/slider/9.jpg);
    }

    61%{
        background-image: url(./assets/slider/frutilla.jpg);
    }
    80%{
        background-image: url(./assets/slider/frutilla.jpg);
    }

    81%{
        background-image: url(./assets/slider/3.jpg);
    }
    100%{
        background-image: url(./assets/slider/3.jpg);
    }
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
#about h2{
    font-size: 40px;
    color: var(--pink);
}
hr{
    width: 350px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
}
#about p{
    font-size: 20px;
    padding: 3rem 15rem 5rem 15rem;
}
#info{
    padding: 20px 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #f7bcce;
    width: 100%;
}
#info hr{
    width: 600px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
}
#info h2{
    font-size: 45px;
    color: var(--pink);
}
#info-cards-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 3rem;
}
.info-card{
    background: var(--pink);
    color: var(--white);
    width: 330px;
    height: 400px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
} 
.info-card h3{
    font-size: 30px;
}
.info-card p{
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 0 18px;
}
.tarjeta-producto button{
    width: 200px;
    height: 40px;
    background: var(--pink);
    border-radius: 10px;
    border-style: none;
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    transition: 0.4s ease-out;
}
.tarjeta-producto button:hover{
    background: var(--white);
    transition: all 0.4s ease-in;
    color: var(--pink) !important;
    font-size: 22px;
    cursor: pointer;
}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    gap: 10px;
}
.contacto-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
#contacto h2{
    font-size: 45px;
    padding: 70px 0 0 0;
    text-align: center;
    color: var(--pink);
}
#contacto hr{
    width: 350px;
    height: 2px;
    border-color: #FC0B56;
    background: #FC0B56;
    margin-bottom: 30px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5rem;
}
form .texto{
    font-size: 20px;
    font-weight: 500;
}
form #nombre{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background: #fcecf1;
    border-style: none;
}
form #email{
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background: #fcecf1;
    border-style: none;
}
form #mensaje{
    width: 300px;
    height: 200px;
    border-radius: 5px;
    background: #fcecf1;
    border-style: none;
}
input{
    padding: 8px;
}
input:focus{
    outline: solid var(--pink);
    transition: 0.2s;
}
input:hover{
    outline: solid var(--pink);
    transition: 0.2s;
}
textarea:focus{
    outline: solid var(--pink);
    transition: 0.2s;
}
textarea:hover{
    outline: solid var(--pink);
    transition: 0.2s;
}
form .enviar{
    background: var(--pink);
    width: 120px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.4s;
}
form .enviar:hover{
    background: var(--white);
    transition: 0.4s;
    color: var(--pink);
    font-weight: 900;
    outline: none;
}
.formulario{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}
.encuentranos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    gap: 20px;
    margin-bottom: 9rem;
}
.encuentranos h3{
    font-size: 20px;
    font-weight: 500;
}
.encuentranos .mapa{
    width: 320px;
    height: 250px;
}
footer{
    background: var(--pink);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    align-items: center;
    padding: 1.5rem 0 6rem 0;
    width: 100%;
    height: 60px;
    color: var(--white);
}
footer .text-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
footer h2{
    font-size: 15px;
    font-weight: 300;
}
footer h3{
    font-size: 15px;
    font-weight: 100;
}
.redes-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #f05c8a;
    width: 100px;
    height: 40px;
    border-radius: 20px;
}
.redes-footer img{
    width: 25px;
    margin-top: 0.4rem;
}

/*Login*/

.logo{
    cursor: pointer;
}
.logo img{
    width: 240px;
    height: 70px;
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 7rem;
}
.login h1{
    color: var(--pink);
    font-size: 48px;
    font-weight: 800;
}
.login hr{
    width: 350px;
}
.formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 30px;
    width: 400px;
    height: 400px;
    background: #f05c8a;
    border: 2px solid #bd0b5e;
    color: var(--white);
    border-radius: 20px;
    padding: 16px 16px 32px 80px;
    margin: 40px 8px 40px 8px;
    box-shadow: 4px 4px 12px 0 rgb(255, 152, 216);
}
.email-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
#email-login{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
.contrase単a-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: start;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
}
#contrase単a-login{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
.entrar{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background: #FC0B56;
    margin-top: 30px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

/*Registro*/

.logo{
    cursor: pointer;
    margin: 0;
}
.logo img{
    width: 240px;
    height: 70px;
}
.navbar-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 25px;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}
.register h1{
    color: var(--pink);
    margin-top: 1rem;
}
.register hr{
    width: 320px;
}
.formulario-register{
    background: #f05c8a;
    border-radius: 10px;
    padding: 3rem 0 3rem 6rem;
    width: 480px;
    height: 500px;
    border: 2px solid #bd0b5e;
    border-radius: 20px;
    padding: 40px 0 30px 120px;
    margin: 40px 8px 40px 8px;
    box-shadow: 4px 4px 12px 0 rgb(255, 152, 216);
    color: var(--white);
}
.register-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
    margin: 1rem 0 2rem 0;
    font-size: 18px;
    font-weight: 500;
}
.register h1{
    font-size: 48px;
    font-weight: 800;
}
#name-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
#email-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
#contrase単a-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
#confirmarcontrase単a-register{
    border-radius: 4px;
    border-style: none;
    width: 250px;
    height: 30px;
}
.ingresar{
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    background: #FC0B56;
    margin-top: 10px;
    color: var(--white);
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

